Day5/Supply/.vs/Supply/FileContentIndex/9d4b82b5-ad45-4c56-950f-67fc26cdffd9.vsidx
Day5/Supply/.vs/Supply/FileContentIndex/57ac315f-49ec-4b52-bf48-21af9a85c6e3.vsidx
Day5/Supply/.vs/Supply/FileContentIndex/read.lock
Day5/Supply/.vs/Supply/v17/.suo
Day5/Supply/.vs/Supply/v17/Browse.VC.db
Day5/Supply/.vs/Supply/v17/Browse.VC.db-shm
Day5/Supply/.vs/Supply/v17/Browse.VC.db-wal
Day5/Supply/.vs/Supply/v17/Browse.VC.opendb
Day5/Supply/.vs/Supply/v17/ipch/AutoPCH/a48e7a4d86be9067/MAIN.ipch
Day5/Supply/x64/Debug/main.obj
Day5/Supply/x64/Debug/main.obj.enc
Day5/Supply/x64/Debug/Supply.exe
Day5/Supply/x64/Debug/Supply.exe.recipe
Day5/Supply/x64/Debug/Supply.ilk
Day5/Supply/x64/Debug/Supply.log
Day5/Supply/x64/Debug/Supply.pdb
Day5/Supply/x64/Debug/Supply.vcxproj.FileListAbsolute.txt
Day5/Supply/x64/Debug/vc143.idb
Day5/Supply/x64/Debug/vc143.pdb
Day5/Supply/x64/Debug/Supply.tlog/CL.command.1.tlog
Day5/Supply/x64/Debug/Supply.tlog/CL.read.1.tlog
Day5/Supply/x64/Debug/Supply.tlog/CL.write.1.tlog
Day5/Supply/x64/Debug/Supply.tlog/link.command.1.tlog
Day5/Supply/x64/Debug/Supply.tlog/link.read.1.tlog
Day5/Supply/x64/Debug/Supply.tlog/link.write.1.tlog
Day5/Supply/x64/Debug/Supply.tlog/Supply.lastbuildstate
